#Search-Bar {
    margin-bottom: var(--space-6);
    background-color: var(--color-surface);
}

#Search-Bar input[type=text] {
    text-align: center;
    margin-right: var(--space-1);
    max-width: 250px;
}
