#MD {
    line-height: 20px;
}

#MD ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

#MD ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

#MD p{
    line-height: 1.5;
    margin-bottom: 12px;
}

#MD .footer{
    color: gray;
    margin-top: 60px;
}

#MD .footer a{
    color: #6699FF;
}

#MD h2{
    text-decoration: underline;
    text-decoration-color: #3498DB;
    line-height: 60px;
    font-size: 28px;
    margin-top: 20px;
}

#MD pre{
    max-width: 100%;
    overflow: auto;
    position: relative;
}

#MD .cursor-pointer{
    cursor: pointer;
}

#MD code{
    background-color: #FCF3CF;
    /* padding: 0px 5px 0px 5px; */
    box-sizing: border-box;
    border-radius: 2px;
    font-family: monospace;
    /* font-size: larger; */
    color: rgb(75, 75, 75);
}

#MD img{
    max-width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

#MD blockquote{
    color: #626567;
    background-color: #F2F3F4;
    padding: 1px 12px 1px 12px;
    font-size: smaller;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 6px;
    margin-bottom: 6px;
}

#MD document-info{
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
    overflow: hidden;
}

#MD .run-btn{
    color: white;
    position: absolute;
    right: 5px;
    cursor: pointer;
}