#MD-Preview{
    overflow: hidden;
    line-height: 2;
    margin-top: -20px;
    color: var(--color-text);
    min-height:80px;
}

#MD-Preview p{
    margin-bottom: 8px;
}

#MD-Preview pre div{
    background: var(--color-border-strong) !important;
}
#MD-Preview a{
    color: var(--color-text);
}
#MD-Preview document-info,
#MD-Preview .md-preview h1{
    visibility: hidden;
    line-height: 0px;
}

#MD-Preview img{
  visibility: hidden;
}
