.drkmd-toggle-button{
    visibility: hidden !important;
}

#Corner-Menu {
    color: gray;
    font-size: 3px;
    position: fixed;
    bottom: 75px;
    right: 2.5%;
}

#Corner-Menu .link {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    display: block;
    margin-top: 10px;
}

#Corner-Menu .link svg,
#Corner-Menu .link a {
    color: #b7b7b7;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#Corner-Menu .link svg:hover,
#Corner-Menu .link a:hover{
    color: gray;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #Corner-Menu {
        color: gray;
        font-size: 3px;
        position: fixed;
        bottom: 30px;
        right: 6%;
    }

    #Corner-Menu .link {
        height: 36px;
        width: 36px;
        border-radius: 50%;
        display: block;
        margin-top: 15px;
    }
}