#Footer{
    text-align: center;
    color: gray;
    font-size: 3px;
    position: absolute;
    bottom: 2.5%;
    right: 2.5%;
}

@media screen and (max-width: 768px){
    #Footer{
        color: gray;
        font-size: 3px;
        position: initial;
    }
}