#Footer{
    text-align: center;
    color: gray;
    font-size: 10pt;
    position: fixed;
    bottom: 2.5%;
    right: 2.5%;
}

#Footer a{
    color: #6699FF;
}

#Footer a:link{
    text-decoration: none;
}

#Footer div{
    margin-bottom: 5px;
}


@media screen and (max-width: 768px){
    #Footer{
        color: gray;
        font-size: 10pt;
        position: initial;
    }
}