#App .context {
    max-width: 800px;
    min-width: 600px;
    margin: 0 auto;
}

#App h1 {
    font-size: 32px;
}

@media screen and (max-width: 768px) {
    #App .context {
        width: 100%;
        margin: 0 auto;
    }
}