#App .context {
    max-width: 800px;
    min-width: 600px;
    margin: 0 auto;
    position: relative;
}

#App h1 {
    font-size: 32px;
}

#App .home-page-title{
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    #App .context {
        width: 100%;
        margin: 0 auto;
        position: relative;

    }
}

@media screen and (max-width: 576px) {
    #App .context {
        margin-left: 0px;
        box-sizing: border-box;
        max-width: 576px;
        min-width: 380px;
        position: relative;
    }
}