:root {
    --dark-background-color: #343a40;
    --dark-text-color: #d4dbe0;
    --dark-text-color-2: #e0e1dd;
    --dark-h1-color: #d9dee2;
    --dark-blockquote-background-color: #626468;
    --dark-blockquote-text-color: #ced4da;
    --dark-code-background-color: #778da9;
    --dark-code-text-color: #ced4da;
}

body.theme-dark {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
}

.theme-dark img {
    filter: invert(85%);
}

/* do not apply img filter to comments block */
#comments img {
    filter: invert(0%);
}

.theme-dark .home-page-title {
    color: var(--dark-text-color-2) !important;
}

.theme-dark h1 {
    color: var(--dark-h1-color);
}

.theme-dark a {
    color: var(--dark-text-color-2) !important;
}

.theme-dark small {
    color: white !important;
}

.theme-dark #MD>document-info,
.theme-dark #MD {
    color: var(--dark-text-color) !important;
}

.theme-dark #MD blockquote {
    background-color: var(--dark-blockquote-background-color) !important;
    color: var(--dark-blockquote-text-color) !important;
}

.theme-dark #MD code {
    color: var(--dark-code-text-color);
}

.theme-dark #MD .run-btn {
    color: var(--dark-text-color);
}

.theme-dark input {
    background-color: var(--dark-background-color);
}

.theme-dark #Search-Bar button[type=submit] {
    background-color: var(--dark-background-color);
}


.theme-dark #MD-Preview {
    overflow: hidden;
    line-height: 20px;
    margin-top: -20px;
    color: var(--dark-text-color);
}

.theme-dark #MD-Preview a {
    color: var(--dark-text-color);
}

.theme-dark #TOC .activate-h2 {
    color: var(--dark-text-color);
    text-decoration-color: #3498DB
}

.theme-dark #TOC .activate-h3 {
    color: var(--dark-text-color);
    text-decoration-color: #88b8d8
}