:root {
    --main-1:#2A4F96;
    --main-2:#3563BD;
    --main-3:#698ed5;
    --support-1:#a6a6a6;
    --support-2:#e3e3e3;
    --support-3:#f0f0f0;
    --text-1:#464646;
    --text-2:#878787;
    --text-3:#f4f4f4;
    --main-bg-1:#ffffff;
}