#Post-Block{
    padding: 0px;
}

#Post-Block .title-badge{
    width: 100px;
    margin-left: 10px;
    position: relative;
    top: 4px;
}

@media screen and (max-width: 768px) {
    #Post-Block{
        padding: 12px;
    }
}